<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makeupbeauty">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeupBeauty">
        <activity
            android:name=".ui.collectActivity"
            android:exported="false"
            android:label="@string/title_activity_collect"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".ui.MynotesActivity"
            android:exported="false"
            android:label="@string/title_activity_mynotes"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".commodityDetail.MyoderActivity"
            android:exported="false"
            android:label="@string/title_activity_myoder"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".commodityDetail.paymentActivity"
            android:exported="false"
            android:label="@string/title_activity_payment"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".commodityDetail.shoppingCarActivity"
            android:exported="true"
            android:label="@string/title_activity_shopping_car"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".Search.Catagory"
            android:exported="true"
            android:label="@string/title_activity_catagory"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".Search.SearchActivity"
            android:exported="true"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".commodityDetail.productDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".TryOn.TryOn"
            android:exported="true"
            android:label="TryOnActivity"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />
        <activity
            android:name=".CommunityPost.PostActivity"
            android:exported="true"
            android:label="@string/title_activity_posr"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />

        <activity
            android:name="com.example.makeupbeauty.ui.Screens.SettingScreen"
            android:exported="true"
            android:label="SettingScreen"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />


        <activity
            android:name="com.example.makeupbeauty.ui.CustomerService.CustomerServiceActivity"
            android:exported="true"
            android:label="CustomerServiceScreen"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />

        <activity
            android:name="com.example.makeupbeauty.ui.Screens.ChatListScreen"
            android:exported="true"
            android:label="ChatListScreen"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />

        <activity
            android:name="com.example.makeupbeauty.ui.Screens.LoginScreen"
            android:exported="true"
            android:label="LoginScreen"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />

        <activity
            android:name="com.example.makeupbeauty.ui.Screens.RegisterScreen"
            android:exported="true"
            android:label="LoginScreen"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />

        <activity
            android:name="com.example.makeupbeauty.ui.Screens.PublicProfileScreen"
            android:exported="true"
            android:label="PublicProfileScreen"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MakeupBeauty.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>